* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
    
body{
    font-family: 'Mulish';
}

span, .formSubmitButton{
    color: #00aae2;

}

header > img{
    width: 1rem;
    height: 1rem;
}

ol, ul {
	list-style: none;
    display: block;
}

input{
    display: block;
    height: 2.5rem;
}


.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.buttonsHeaderContainer{
    display: flex;
    align-items: center;
    
}

.buttonsHeaderContainer > img{
    width: 1.5rem;
    height: 1.5rem;
}

.headerIcons{
    width: 1rem;
    height: 1rem;
    margin: 1rem;
}

#menuBarButton{
    width: 3rem;
    height: 3rem;
    background: url(https://cdn-icons-png.flaticon.com/512/8106/8106944.png) no-repeat;
    background-size: 80%;

}

.navBarMenuDesktop{
    display: none;
}

.navBarMenuChangeDisplay, .navBarMenuChangeDisplay > li > a{
    display: block;
    text-decoration: none;
    color: #626366;
    font-size: 0.875rem;
}

.navBarMenuChangeDisplay > li > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #626366;
    font-size: 0.875rem;
}

.navBarMenu, .navBarMenu > li > a{
    display: none;   
}


.waterImage{
    background-image: url(https://www.altoastral.com.br/media/uploads/legacy/2016/12/crianca-brincando-agua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 30vh;
}   

.menuProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.menuImages > li{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.938rem;
    font-weight: bold;
    border: 1px solid #e2e2e2;
}


.menuIcon{
    width: 3rem;
    height: 3rem;

}
.menuButton{
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.menuButton > img{
    display: flex;
    width: 1.0rem;
    height: 1.0rem;

}
.menuButton:hover{
    cursor: pointer;
}

.videosSection{
    display: flex;
    width: 90%;
    overflow: hidden;
    gap: 1rem;
}
.formSection{
    display: flex;
    flex-direction: column;
      
}

.formSection1 .formSection2{
    display: flex;
    
}

.buttonFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.formSubmitButton{
    border: 1px solid #00aae2;
    padding: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}

.footerIcon{
    width: 1rem;
    height: 1rem;
    filter: invert(100%)
}

.menuFooterSection1, .socialMediaFooter{
    background-color: #222222;
}

.menuFooterSection2{
    background-color: #383838;
}
.menuFooterSection3{
    background-color: #565656;
}
.menuFooterSection4{
    background-color: #686868;
}

.menuFooterSectionTitle{
    color: #ffffff;
    font-size: 0.875rem;
}
.menuFooterSection1, .menuFooterSection2, .menuFooterSection3, .menuFooterSection4{
    list-style: none; 
    font-size: 0.75rem;
    color: #ffffff;
    line-height: 2rem;
    text-align: center;
}
     
.logoFooter{
    color:#ffffff;
    font-size: 2rem;
    
}

@media only screen and (min-width: 768px) {



.headerContainer{
    display: flex;
    align-items: center;

}
.navBarMenuDesktop{
    display: flex;
    justify-content: space-around;
    margin-left: 12rem;
    text-decoration: none;
    color: #626366;
    gap: 1rem;
}
.navBarMenuDesktop > li > a{
    text-decoration: none;
    color: #626366;
    font-size: 00.875rem;
}

.buttonsHeaderContainer{
    display: flex;  
    margin-bottom: 1rem;
    
}

.buttonsHeaderContainer > img{    
    margin-top:2rem;
    width: 2rem;
    height: 2rem;   
      
}

.navBarMenu{
    display: none;
}
.waterImage{
    height: 20rem;
    background-size: 100%;
    background-position-y: -10vh;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    
}

.socialMediaFooter{
    width: 20vw;
    padding: 2rem;  

}

.socialMediaFooter > p {
    margin: 2rem;
}
.socialMediaFooter > ul {  
    display: flex;
    justify-content: space-around;  
}

.menuFooterSection1, .menuFooterSection2, .menuFooterSection3 {
    width: 15vw;
    margin: 0;
    padding: 2rem;
}

.menuFooterSection4{
    align-items: flex-start;
    width: 35vw;
    padding: 2rem;
}

.menuProducts{
    width: 100vw;
}

.menuImages{
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    margin: 1rem;
    justify-content: center;
}

.menuImages > li{
    font-size: 0.8rem;
    width: 10rem;
    height: 11rem;
}

.menuImages > p{
    display: inline-block;
    height: 4rem;
}

.menuIcon{
    width: 6rem;
    height: 6rem;
}

.menuButton{
    margin-top: 2rem;
    font-size: 0.75rem;
}


}